body {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    padding: 36px 36px 0 36px;
  }
}

.heroImage {
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -32px;
}

@media (min-width: 768px) {
  .mainContent {
    padding: 256px 0;
    position: initial;
    top: initial;
  }
}

.profile {
  text-align: center;
}

.avatarImage {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
}

.jobDescription {
  font-size: 1rem;
}

.location {
  font-size: 1rem;
}
